@model EntityLayer.Concrete.Product
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Bilgileri Düzenleme Sayfası</h2>
<form method="post">
    <label>Ürün ID</label>
    <br />
    @Html.HiddenFor(x => x.ProductID, new { @class = "form-control" })

    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    <label>Stok</label>
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <br />
    <label>Fiyat</label>
    @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    <label>Cateori</label>
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Güncelle</button>
</form>
